:root{

    --lightgrey: #27292B;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


#navbar figure img{
    width: 20rem;
}
#navbar article label{
    padding: 0.5rem;
    background-color: var(--lightgrey);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    border-radius: 10rem;
    padding-left: 1.2rem;

}


#navbar article label input{
    height: auto;
    outline: none;
    text-decoration: none;
    background-color: var(--lightgrey);
    border: none;
    color: white;
    font-size: 1.2rem;
}